# Visual Studio
.vs/

# Build outputs
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# User files
*.user
*.suo

# Local configuration and secrets
.env
backend/Lensee.Host/appsettings.Development.json
backend/Lensee.Host/appsettings.json


.docker-compose.override.yml
.docker-compose.yml
